#leftbox {
  float: left;
  width: 20%;
  height: auto;
  background-color: rgb(190, 13, 13);
  /* orangered */
  padding: 10px;
  margin: 30px;
}
#middlebox {
  float: left;
  width: auto;
  height: auto;
  padding: 20px;
  margin: 30px;
  background-color: rgb(22, 77, 124);
  text-align: center;
}
#rightbox {
  float: right;
  width: 20%;
  height: auto;
  margin: 30px;
}
#latelist {
  background-color: rgb(226, 223, 7);
  padding: 10px;
}
#signedlist {
  background-color: forestgreen;
  padding: 10px;
}

.unrecogButton {
  margin-bottom: "10px";
  margin-left: "20px";
  padding: "3px 8px";
  cursor: "pointer";
  border-radius: "50%";
  border: "none";
  width: "100px";
  height: "50px";
  font-weight: "bold";
  font-size: "30px";
  align-self: "flex-end";
  background-color: "darkgray";
}

.modal {
  min-width: 800px;
  min-height: 800px;
}
