.App {
  text-align: center;
  background: orange;
  min-height: 300vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(55, 70, 75);
  color: whitesmoke;
}

.Nav-Links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.loginForm {
  width: 100%;
  padding-top: 5cm;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  height: 350px;
  position: center;
  background: rgb(42, 52, 56);
  border-radius: 8px;
}

.btnLogin {
  max-width: 400px;
  place-content: center;
  margin-left: 820px;
}
